<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello, <b><%= @user.name %>.</b></p>
<br>
<p>WELCOME TO THE TEST APP</p>
</body>
</html>