<div class="card" >
  <div class="card-header">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>Editing Detail</span>
      <%= link_to 'Back', details_path, class:"btn btn-secondary text-white" %>
    </h2>
  </div>
  <div class="card-body">
    <%= render 'form', detail: @detail %>
  </div>
</div>